div{position: relative;margin-left: 50px;width: 300px;height: 300px;border: 3px black solid;}
img{position: absolute;width: 150px;height: 150px;cursor: pointer;}
#img1{left: 0;top: 0;width: 300px;height: 300px;z-index: 1;}
#img2{left: 150px;top: 0;}
#img3{left: 0;top: 0;}