.section h3{
	color:#fff;
	text-align:center;
}
/*.section1{
	background-color: #f00;
}
.section2{
	background-color: #0f0;
}
.section3{
	background-color: #00f;
}
.section4{
	background-color: #0ff;
}*/
#menu{
	list-style-type: none;
	position:fixed;
	left:30px;
	top:30px;
	z-index: 200;
}
#menu li{
	float:left;
	background-color: #ff0;
	color:#333;
}
#menu li a{
	display: block;
	width:130px;
	height:40px;
	line-height: 40px;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
}
#menu li.active{
	background-color: #456;
}
#menu li.active a{	

	color:#fff;
}
#next p{
	position:absolute;
	z-index: 300;
	bottom: 30px;
	right: 30px;
	width: 120px;
	height: 30px;
	background-color: #000;
	line-height: 30px;
	text-align: center;
	color:#fff;
	cursor:pointer;
}
.section2 h3{
	/*display: none;*/
	position: absolute;
	left: -20%;

}
.section4 h3{
	display: none;

}